/* |=======| CARDS |=======| */

/* ======= LISTA DOS CARDS ======= */
.offer__list-item {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 16px;
    gap: 2px;
    grid-gap: 32px;
    /* grid-column-gap: 0px; */
    margin: 10px auto;
}

.offer__list{
    margin-right: 300px;
    margin-left: 300px;
}
/* ======= CARDS ======= */
.cards{
    position: relative; 
    width: 300px;
    height: 250px;
    overflow: hidden;
    border-radius: 20px;
}

/* ======= LEGENDA DOS CARDS =======  */
.cards span{
    padding: 16px;
    position: absolute;
    color: black;
    font-size: 24px;
    font-weight: 700;
    top: 125px;
}

/* .carrinho{
    position: absolute;
    top: 10px;
    left: 100px;
    color: black;
} */
/* |=======| COR DOS CARDS |=======| */
.card1 {
    background-color: #FEFCF6;
    background-image: url('supernova.png');
    background-size: 300px 125px;
    background-repeat: no-repeat;
}
.card2 {
    background-color: #FEFCF6;
    background-image: url('numanice.png');
    background-size: 300px 125px;
    background-repeat: no-repeat;
}
.card3 {
    background-color: #FEFCF6;
    background-image: url('dennis.png');
    background-size: 300px 125px;
    background-repeat: no-repeat;
}
.card4 {
    background-color: #FEFCF6;
    background-image: url('baco.webp');
    background-size: 300px 125px;
    background-repeat: no-repeat;
}
.card5 {
    background-color: #FEFCF6;
    background-image: url('pagogin.png');
    background-size: 300px 125px;
    background-repeat: no-repeat;
}
.card6 {
    background-color: #FEFCF6;
    background-image: url('arraia.png');
    background-size: 300px 125px;
    background-repeat: no-repeat;
}
.card7 {
    background-color: #FEFCF6;
    background-image: url('bk.jpeg');
    background-size: 300px 125px;
    background-repeat: no-repeat;
}
.card8 {
    background-color: #FEFCF6;
    background-image: url('patata.jpeg');
    background-size: 300px 125px;
    background-repeat: no-repeat;
}
/* .card9 {
    background: rgb(30, 50, 100);
}
.card10 {
    background: rgb(233, 20, 41);
}
.card11 {
    background: rgb(80, 55, 80);
}
.card12 {
    background: rgb(216, 64, 0);
}
.card13 {
    background: rgb(186, 93, 7);
}
.card14 {
    background: rgb(0, 30, 80);
}
.card15 {
    background: rgb(60, 30, 80);
}
.card16 {
    background: rgb(142, 102, 172);
} */
/* FIM DAS CORES DOS CARDS */

/* |=======| AO PASSAR O CURSOR NOS CARDS |=======| */
.offer__list-item :hover{
    transform: scale(1.02);
    border: 1px solid grey;
    border-radius: 20px;
}