/* |=======| CARDS |=======| */

/* ======= LISTA DOS CARDS ======= */
.offer__list-item {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
    gap: 16px;
    margin-bottom: 16px;
    display: grid;
    gap: 16px;
    grid-gap: 32px;
    margin: 10px auto;
}

/* ======= CARDS ======= */
.cards{
    position: relative; 
    width: 260px;
    height: 185px;
    overflow: hidden;
    border-radius: 20px;
}

/* ======= LEGENDA DOS CARDS =======  */
.cards span{
    padding: 16px;
    position: absolute;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

/* |=======| COR DOS CARDS |=======| */
.card1 {
    background-color: rgb(0, 100, 80);
}
.card2 {
    background-color: rgb(132, 0, 231);
}
.card3 {
    background: rgb(30, 50, 100);
}
.card4 {
    background: rgb(140, 25, 50);
}
.card5 {
    background: rgb(232, 17, 91);
}
.card6 {
    background: rgb(83, 122, 161);
}
.card7 {
    background: rgb(142, 102, 172);
}
.card8 {
    background: rgb(20, 138, 8);
}
.card9 {
    background: rgb(30, 50, 100);
}
.card10 {
    background: rgb(233, 20, 41);
}
.card11 {
    background: rgb(80, 55, 80);
}
.card12 {
    background: rgb(216, 64, 0);
}
.card13 {
    background: rgb(186, 93, 7);
}
.card14 {
    background: rgb(0, 30, 80);
}
.card15 {
    background: rgb(60, 30, 80);
}
.card16 {
    background: rgb(142, 102, 172);
}
/* FIM DAS CORES DOS CARDS */

/* |=======| AO PASSAR O CURSOR NOS CARDS |=======| */
.offer__list-item :hover{
    transform: scale(1.1);
}