/* |=======| CARDS |=======| */

/* ======= LISTA DOS CARDS ======= */
.offer__list-item {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 0.833vw;
    gap: 0.104vw;
    grid-gap: 1.667vw;
    /* grid-column-gap: 0px; */
    margin: 0.521vw auto;
}

.offer__list{
    margin-right: 15.625vw;
    margin-left: 15.625vw;
}
/* ======= CARDS ======= */
.cards{
    position: relative; 
    width: 15.625vw;
    height: 15.625vw;
    overflow: hidden;
    border-radius: 1.042vw;

    background-color: #FEFCF6;
    background-image: url('./img/supernova.png');
    background-size: 15.625vw 6.51vw;
    background-repeat: no-repeat;
}


/* ======= LEGENDA DOS CARDS =======  */
.data{
    padding: 0.833vw;
    position: absolute;
    color: #83E509;
    font-size: 0.938vw;
    top: 6.51vw;
}

.nome{
    padding: 0.833vw;
    position: absolute;
    color: black;
    font-size: 1.25vw;
    font-weight: 700;
    top: 8.073vw;
}

.local{
    padding: 0.833vw;
    position: absolute;
    color: black;
    font-size: 0.938vw;
    top: 9.896vw;
}


/* |=======| COR DOS CARDS |=======| */
.card1 {
    background-color: #FEFCF6;
    background-image: url('./img/supernova.png');
    background-size: 15.625vw 6.51vw;
    background-repeat: no-repeat;
}
.card2 {
    background-color: #FEFCF6;
    background-image: url('./img/numanice.png');
    background-size: 15.625vw 6.51vw;
    background-repeat: no-repeat;
}
.card3 {
    background-color: #FEFCF6;
    background-image: url('./img/dennis.png');
    background-size: 15.625vw 6.51vw;
    background-repeat: no-repeat;
}
.card4 {
    background-color: #FEFCF6;
    background-image: url('./img/baco.webp');
    background-size: 15.625vw 6.51vw;
    background-repeat: no-repeat;
}
.card5 {
    background-color: #FEFCF6;
    background-image: url('./img/pagogin.png');
    background-size: 15.625vw 6.51vw;
    background-repeat: no-repeat;
}
.card6 {
    background-color: #FEFCF6;
    background-image: url('./img/arraia.png');
    background-size: 15.625vw 6.51vw;
    background-repeat: no-repeat;
}
.card7 {
    background-color: #FEFCF6;
    background-image: url('./img/bk.jpeg');
    background-size: 15.625vw 6.51vw;
    background-repeat: no-repeat;
}
.card8 {
    background-color: #FEFCF6;
    background-image: url('./img/patata.jpeg');
    background-size: 15.625vw 6.51vw;
    background-repeat: no-repeat;
}
/* .card9 {
    background: rgb(30, 50, 100);
}
.card10 {
    background: rgb(233, 20, 41);
}
.card11 {
    background: rgb(80, 55, 80);
}
.card12 {
    background: rgb(216, 64, 0);
}
.card13 {
    background: rgb(186, 93, 7);
}
.card14 {
    background: rgb(0, 30, 80);
}
.card15 {
    background: rgb(60, 30, 80);
}
.card16 {
    background: rgb(142, 102, 172);
} */
/* FIM DAS CORES DOS CARDS */

/* |=======| AO PASSAR O CURSOR NOS CARDS |=======| */
.offer__list-item :hover{
    transform: scale(1.02);
    border: 0.052vw solid rgb(192, 191, 191);
    border-radius: 1.042vw;
}

.offer__list-item span:hover{
    transform: none;
    border: none;
}

.offer__list-item span i:hover{
    transform: none;
    border: none;
}