<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva de Eventos</title>
    <link rel="stylesheet" href="../static/style.css">
    
</head>
<body>
    <header>
        <nav id="menu-h">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="sobre.html">Sobre</a></li>
                <li>
                    <a href="#">Reservar</a>
                    <ul>
                        <li><a href="#">Fazer Reserva</a></li>
                        <li><a href="#">Consultar Reserva</a></li>
                        <li><a href="#">Editar Reserva</a></li>
                        <li><a href="#">Excluir Reserva</a></li>
                    </ul>
                </li>
                <li><a href="content/login.html">Login</a></li>
            </ul>    
        </nav>
    </header>
    <div>
        <div class="imagens-abaixo-h">
            <div class="imagens-deslizar">

                <input class="input-radio" type="radio" name="img" id="img01">
                <input class="input-radio" type="radio" name="img" id="img02">
                <input class="input-radio" type="radio" name="img" id="img03">

                <div class="img-evento"> 
                    <a href="#"><img src="../static/img/index/Evento01_ShowSaoJoao.jpg" alt=""></a>
                </div>
                <div class="img-evento">
                    <a href="#"><img src="../static/img/index/Evento02_Anime.jpeg" alt=""></a>
                </div>
                <div class="img-evento">
                    <a href="#"><img src="../static/img/index/Evento03_JogoFutebolVitoria.jpg" alt=""></a>
                </div>
                
            </div> 

        </div>

        <div class="navegacao-imagens">
            <label class="barra-nav" for="img01"></label>
            <label class="barra-nav" for="img02"></label>
            <label class="barra-nav" for="img03"></label>
        </div>
    </div>

    <footer></footer>

</body>
</html>