<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva de Eventos</title>
    <link rel="stylesheet" href="../static/style.css">
    
</head>
<body>
    <header>
        <nav id="menu-h">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Sobre</a></li>
                <li>
                    <a href="#">Reservar</a>
                    <ul>
                        <li>Fazer Reserva</li>
                        <li>Consultar Reserva</li>
                        <li>Editar Reserva</li>
                        <li>Excluir Reserva</li>
                    </ul>
                </li>
                <li><a href="#">Login</a></li>
            </ul>    
        </nav>
    </header>

    <footer></footer>

</body>
</html>