<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva de Eventos</title>
    <link rel="stylesheet" href="../static/style.css">
    
</head>
<body>
    <header>
        <nav id="menu-h">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Sobre</a></li>
                <li>
                    <a href="#">Reservar</a>
                    <ul>
                        <li><a href="#">Fazer Reserva</a></li>
                        <li><a href="#">Consultar Reserva</a></li>
                        <li><a href="#">Editar Reserva</a></li>
                        <li><a href="#">Excluir Reserva</a></li>
                    </ul>
                </li>
                <li><a href="content/login.html">Login</a></li>
            </ul>    
        </nav>
    </header>

    <main>
        <section>
            <div>
                <img src="" alt="">
            </div>
            <div>
                <h1>Sobre o que é o site?</h1>
                <p>Este é um trabalho universitário da disciplina Linguagem de Programação III, passado com o intúito de...</p>
            </div>
        </section>
        <section>
            <div>

            </div>
        </section>
    </main>

    <footer></footer>

</body>
</html>